{% extends 'layout.html.twig' %}

{% block content %}
	<header>
		<h1 id="hero-title">Un Blog pour soi</h1>
		<a href="login" class="button home-button">Je veux créer mon blog !</a>
	</header>


		<div class="container-welcome-text">
			<div id="content-welcome-texte">
				<h1 class="welcome-title">FlexiDiary </h1>
				<h2> Vous êtes unique ! Faites le nous savoir ! </h2>
				<p class="welcome-content">
					Bienvenue dans notre dynamique communauté en ligne ! sur le site Flexidiary Blogger,
							 nous croyons en la création d'un espace où l'innovation rencontre l'inspiration. Explorez 
							 notre gamme diversifiée de produits et services conçus pour améliorer votre expérience. 
							 De la technologie de pointe à l'intemporel, nous nous efforçons de répondre à tous vos besoins. 
							 Rejoignez-nous dans ce voyage de tous les besoins. Rejoignez-nous dans ce voyage de découverte et 
							 laissez la compagnie de flexidiary vous guider pour transformer les possibilités en réalités. 
							 Commencez à explorer maintenant et débloquez un monde de possibilités infinies !!</p>
			</div>
		</div>
		

	<div class="container-blogs">
		<div class="row-blogs">
			{% for blog in blogs %}
				{% include "Home/../components/_cardblog_display.html.twig" %}
			{% endfor %}
		</div>
	</div>
	<div class="container-reseaux">
		<a href="#" ><img src="assets/images/facebook1.png" /></a>
		<a href="#"><img src="assets/images/twiter1.png" /></a>
	</div>
	
	<div class="container-tagline">
		<p>Suivez nous sur les réseaux , partagez vos meilleurs articles , faites tournez vos passions dans vos cercles.</p>
	</div>
	{% include "Home/../components/_tagline.html.twig" %}
{% endblock %}

{% block footer %}
	{% include "Home/../components/_footer.html.twig" %}
{% endblock %}



