body{
  margin-bottom: 4rem;
}

.title-blog {
  font-size: 1.8em;
  font-family: var(--typo-h);
  color:rgb(41, 41, 41);
  padding: .75rem;
  font-size: 2.5rem;
  text-align: center;
}



.article-title {
  font-size: 1.8em;
  color: var(--secondary-color);
  margin-bottom: 2vh;
 
}
.article-date{ 
  font-size: 1.1em;
  color: var(--secondary-color);
}

.article-section{
  margin: 1rem;
}

.article-section-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.article-image {
  width: 25vw;
  height: auto;
  margin-bottom: 5vh;
}
.article-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  margin-left: 2vw;
  font-family: var(--typo-p);
  margin-bottom: 10vh;
}

.article-hr{
  height:.5rem;
  margin-left: 5vw;
  margin-right: 5vw;
  align-self: center;
  border-radius: 5rem;
}