.nav{
  background: linear-gradient(90deg, rgba(159,119,184,1) 0%, rgba(191,78,162,1) 50%, rgba(167,54,108,1) 100%);
  display: block;
 }

 .navlist{
    display: flex;
    flex-direction: row;
    font-family: var(--typo-h);
    color: white;
    padding: 1 rem 0;
    justify-content: flex-end;
    align-items: center;
    
 }
 .navitem{
     list-style: none;
     margin-right: 2rem;
 }
 .navitem a{
     text-decoration: none;
     
 }
 .navitem:first-child{
     margin-right: auto;
 }
 .logo-header {
     height: 10vh;
 }
 