.nav {
    background: var(--gradient-color); 
    background: -moz-linear-gradient(--gradient-color);
    background: -webkit-linear-gradient(--gradient-color);
}

.navlist {
    display: flex;
    flex-direction: row;
    font-family: var(--typo-h);
    color: white;
    padding: 1 rem 0;
    justify-content: flex-end;
    align-items: center;
}

.navitem {
    list-style: none;
    margin-right: 2rem;
}

.navitem a {
    text-decoration: none;
    color: var(--typo-color);
    font-weight: 700;
}
.navitem:first-child {
    margin-right: auto;
}
.logo-header {
    height: 10vh;
}

