*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #B08FD1;
}
/*container*/
.container{
	display: flex;
	height: 500px;
	width: 800px;
	/*border: 1px solid black;*/
	margin: auto;
	margin-top: 50px;
}

/* login form */
.form{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	background-color: whitesmoke;
}
.form h2{
	font-size: 3rem;
	margin: 40px;
	color:  #B08FD1;
}
.box{
	padding: 12px;
	width: 65%;
	margin: 15px;
	border: 1px solid  #B08FD1;
	outline: none;
	border-radius: 20px;
}
#submit{
	padding: 12px 30px;
	width: 40%;
	margin-top: 40px;
	background-color:  #B08FD1;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 20px;

}
#submit:hover{
	cursor: pointer;
	background-color: #133408;
}
.form a{
	text-decoration: none;
	color: black;
	margin-top: 20px;
}
.form a:hover{
	color: #133408;

}
/*right side*/

.side{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: whitesmoke;

}
.side img{
	width: 450px;
	height: 450px;

}


