*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url('../images/backgroundtest2.png');
}
/*container*/
.container-login{
	display: flex;
	justify-content: center;
	align-content: center;
	height: 50vh;
	width: 80vw;
	margin-top: 5vh;
	margin-left:10vw;
}

/* login form */
.form{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	background:linear-gradient(#9F77B8, #9F4EA2, #A7366C);
}
.form h2{
	font-size: 3rem;
	margin: 40px;
	color: #FFFF;
}
.box{
	padding: 12px;
	width: 65%;
	margin: 15px;
	border: 1px solid  #B08FD1;
	outline: none;
	border-radius: 20px;
	color: #000;
	background-color: white;
}
#submit{
	padding: 12px 30px;
	width: 40%;
	margin-top: 40px;
	background-color: #90B877;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 20px;

}
#submit:hover{
	cursor: pointer;
	background-color: #D9D9D9;
}
.form a{
	text-decoration: none;
	color: black;
	margin-top: 20px;
}
.form a:hover{
	color: #133408;

}















































































