<?php
{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/login.css">
	
{% endblock %}
{% block content %}
<body>
<div class="container">
	 <form action="" class="form">
	 	<h2>new password </h2>
	 	<input type="email" name="email" class="box" placeholder="enter email" required>
	 	<input type="submit" value="LOGIN IN" id="submit"
	 </form>
	 <div class="side">
	 	<img src="assets/images/login.png" alt="flexdiary login">
	 </div>
</div>
</body>

{% endblock %}




?>