<?php
{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/login.css">
	
{% endblock %}
{% block content %}
<body>
<div class="container-login">
	 <form action="" class="form">
	 	<h2>new password </h2>
	 	<input type="email" name="email" class="box" placeholder="enter email" required>
	 	<input type="submit" value="LOGIN IN" id="submit" />
	 </form>

</div>
</body>

{% endblock %}




?>