{% extends 'layout.html.twig' %}

{% block stylesheet %}
		{{parent()}} </p><link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}
{% block content %}<div class="container-login">

<form action="" method="post" class="form">
	<h2>Connexion
	</h2>
	<input type="email" name="email" class="box" placeholder="votre email" required>

	<input type="password" name="password" class="box" placeholder="votre mot de passe">
	<input type="submit" value="se connecter" id="submit">
	<a href="">Mot de passe oublié ?</a>
</form></div>{% endblock %}

