{% extends 'layout.html.twig' %}

	{% block stylesheet %}
		<link rel="stylesheet" href="/assets/css/login.css">
		<link rel="stylesheet" href="/assets/css/header_style.css">
		<link rel="stylesheet" href="/assets/css/footer_style.css">
	{% endblock %}

{% block content %}
<div class="container">
<div class="form-container">
	<h1 class="form-title">LOGIN </h1>

	 <form action="" method="post" class="login-form">
	
	 	<div>
  			<label for="email">Email</label>    
    		<input type="input" name="email" id="email" required/>
		</div>

	 	<div>
			<label for="password">Password</label>    
    		<input type="password" name="password" id="password" required/>
		</div>

    <button class="button form-button" type="submit">Login</button>

	 	<a href="">Forget Password ?</a>
	 </form>

</div>
</div>
{% endblock %}


