<a href="profil/blog/create?idUser={{user.idUsers}}" class="link-tocreate-blog">
	<img src="/assets/images/icons/icon_create_blog1.png" alt="create pen icon pour créer un blog" class="card-blog-action-create">
</a>

