<div class="card-blog-display-home">
<a href="blog/show?idBlog={{ blog.idBlog }}" class="link-blog-home">
	<h3>{{blog.Title}}</h3>
	<div class="container-img">
		<img src="{{blog.Background_image}}"/>
	</div>
	<p>{{blog.Description}}</p>
	</a>
</div>

