<footer class="footer-box">
	<div class="footer-more-infos">
	<p class="copyright">FlexiWild ©2024</p>
	</div>
	<div class="footer-about-us">
		<ul class="section-terms">
			<li class="li-footer-terms">
				<a href="" class="footer-link-terms">
					Mentions Légales
				</a>
			</li>
			<li class="li-footer-terms">
				<a href="/privacypolicy" class="footer-link-terms">
					Politique de confidentialité
				</a>
			</li>
			<li class="li-footer-terms">
				<a href="https://www.welcometothejungle.com/fr/companies/yield-studio/jobs/developpeur-front-end-senior-squad-php-js-react-laravel?q=58a7b2802248b6536c7ab9a58dee75d6&o=2141149" class="footer-link-terms">
					On recrute !
				</a>
			</li>
		</ul>
	</div>
</footer>

