 <nav class="nav"> 
        <ul class="navlist">
             <li class="navitem">
             <a><img src="assets/images/logo2.png" class="logo-header" alt="logo lettre F avec une plume noir qui trace une ligne fine "></a>
             </li>
            <li class="navitem"><a href="">EXPLORER</a></li>
            <li class="navitem"><a href="">CREER MON ESPACE</a></li>
            <li class="navitem"><a href="">INSCRIPTION </a></li>
            <li class="navitem"><a href="">CONNEXION</a></li>
        </ul>
    </nav>